<!DOCTYPE html>
<html>
<head>
	<title>Macarons Store!</title>
	<link rel="stylesheet" type="text/css" href="../Static/store.css">
</head>
<body>
	<h1 id= "title">Welcome to the store!</h1>
	<div class="card" id="pink">
	  <img src="pink.jpg"  alt="Pink Macaron" height="150" style="width:100%">
	  <h1>Pink Macaron</h1>
	  <p class="price">$5</p>
	  <form action="cart.html">
	 	 <p><button type="submit">Add to Cart</button></p>
	  </form>
	</div>
	
	<div class="card" id="red">
	  <img src="red.jpg"  alt="Red Macaron" height="150" style="width:80%">
	  <h1>Red Macaron</h1>
	  <p class="price">$5</p>
	  <form action="cart.html">
	 	 <p><button type="submit">Add to Cart</button></p>
	  </form>
	</div>


	<div class="card" id="green">
	  <img src="green.jpg"  alt="Green Macaron" height="150" style="width:80%">
	  <h1>Green Macaron</h1>
	  <p class="price">$5</p>
	  <form action="cart.html">
	 	 <p><button type="submit">Add to Cart</button></p>
	  </form>
	</div>

	<div class="card" id="blue">
	  <img src="blue.webp"  alt="Blue Macaron" height="150" style="width:80%">
	  <h1>Blue Macaron</h1>
	  <p class="price">$5</p>
	  <form action="cart.html">
	 	 <p><button type="submit">Add to Cart</button></p>
	  </form>
	</div>

	<div class="card" id="yellow">
	  <img src="yellow.webp"  alt="Yellow Macaron" height="150" style="width:80%">
	  <h1>Yellow Macaron</h1>
	  <p class="price">$5</p>
	  <form action="cart.html">
	 	 <p><button type="submit">Add to Cart</button></p>
	  </form>
	</div>

	<div class="card" id="pack">
	  <img src="pack.jpg"  alt="Pack of Macarons" height="150" style="width:80%">
	  <h1>Pack of Macarons</h1>
	  <p class="price">$20</p>
	  <form action="cart.html">
	 	 <p><button type="submit">Add to Cart</button></p>
	  </form>
	</div>

	<a href="home.html">Back To Home Page</a>

</body>
</html>